<p>{{cuartos.nombre}}</p>

 <div class="row"  ng-repeat="cuarto in cuartos.cuartos">
  <div class="col-md-12">
    <div class="thumbnail">
      <img src="{{cuarto.foto}}">
      <div class="caption">
        <h3>{{cuarto.tipo}}</h3>
        <ul>
          <li ng-repeat="item in cuarto.Dotacion">{{item}}</li>
        </ul>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Reservar</a> <a href="#" class="btn btn-default" role="button">Reservar</a></p>
      </div>
    </div>
  </div>
</div>